body {
  font-family: "Poppins", sans-serif;
}

.filter {
  filter: brightness(70%);
}
/*carousel: Changes position of caption end */
.carousel-caption h2 {
  font-size: 4vw;
}

.carousel-caption p {
  font-size: 2vw;
}

/*institute section bg */
.text-bg {
  background-color: #f4fafd;
}

/*ready to join */
.join_now {
  background-color: #289bde;
}

.join_btn {
  background-color: white;
  color: blue;
}

.logo {
  width: 120px;
}
